html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.container {
  position: relative;
}

.loading {
  border-radius: 50px;
  border: 6px solid gray;
  border-bottom-color: transparent;
}

.loading--clockwise {
  height: 60px;
  width: 60px;
  animation-name: spin--clockwise;
  animation-duration: 840ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading--counter-clockwise {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  animation-name: spin--counter-clockwise;
  animation-duration: 840ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin--clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin--counter-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}